body{
    background-color: gray;

}

.mainContainer{
width: 80%;
margin-left: auto;
margin-right:auto;

}

div.category {
    margin-top: 2%;
    border-radius: 2%;
}

ul#header-buttons button{
    float: right;
}

.rating{
    float: right;
}

.nextButton, .prevButton{
    border-radius: 50%;
}

.footers{
    margin-top: 2%;
    text-align: center;
}

.toggleButtons{
   display: inline;
    
}

#prev, #next{
    
}

.totalScore{
    float: right;
    display: inline;
}

#score , #maxScore{
    display: inline;
}




