body{
    background-color: gray;

}

.navbar{
    z-index: 1;
    position: static;

}

.navbar:before{
    position: absolute;
    background-image: url(images/underConstruction.png);
 /* width: fit-content;
    height: fit-content;  */
}

#overlay{
    width:100%;
    position:absolute; /*You may also use fixed depending on your needs.*/
    left:0;
    top:0; /*If you want it at the bottom you probably want bottom:0 instead*/
    z-index: 999;
    }

.image1{
    z-index: 2;
    position:relative;
}

.mainContainer{
width: 80%;
margin-left: auto;
margin-right:auto;
margin-bottom: 2%;
}

div.category {
    margin-top: 2%;
    border-radius: 2%;
}

ul#header-buttons button{
    float: right;
}

.rating{
    float: right;
}

.nextButton, .prevButton{
    border-radius: 50%;
}

.footers{
    margin-top: 2%;
    text-align: center;
}

.toggleButtons{
   display: inline;
    
}

#prev, #next{
    
}

.totalScore{
    float: right;
    display: inline;
}

#score , #maxScore, #scoreDividerDisplay{
    display: inline;
}

.display-4{
    display: inline;
}

.yellow{
    color: #FFAE42;
}

.red{
    color: #991A00;
}

.individualScore{
    float: right;
}




